<div class="recipe-container">
  <section class="recipe-section">
    <div class="recipe-content">
      <h1 class="title">{{(recipe | async)?.title}}</h1>
      <div class="date">October 28, 2016</div>
      <div class="author">Author: Nicole</div>
      <div class="blurb">{{(recipe | async)?.blurb}}</div>
      <app-labels [labels]="(recipe | async)?.labels"></app-labels>
      <app-image-cover [src]="(recipe | async)?.image"></app-image-cover>
      <div *ngIf="(recipe | async)?.text" class="recipe-text">{{(recipe | async)?.text}}</div>
      <div *ngFor="let item of (recipe | async)?.items" class="recipe-item">
        <h2 class="item-title" *ngIf="item.name">{{item.name}}</h2>
        <div *ngIf="item.ingredients"class="ingredients">
          <h3>Ingredients</h3>
          <div [innerHTML]="item.ingredients"></div>
        </div>
        <div *ngIf="item.steps"class="steps">
          <h3>Steps</h3>
          <div [innerHTML]="item.steps"></div>
        </div>
      </div>
    </div>
  </section>
</div>