@import '../../../variables';
$defaultColor: gray;
$sidePadding: 0.7em;
$borderRadius: 0;
:host {
  display: block;
  position: relative;
  height: 2em;
  width: 12em;
  border-radius: $borderRadius;
  background-color: white;
  fill: $defaultColor;
  color: white;
  input {
    z-index: 1;
    position: absolute;
    border: none;
    padding: 0.4em $sidePadding;
    padding-left: 2em;
    border-radius: $borderRadius;
    font-size: $inputFontSize;
    font-weight: 300;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
    background-color: transparent; 
    color: inherit;
    &:focus + .design {
      width: 100%;
      background-color: black;
    }
  }
  .design {
    position: absolute;
    bottom: 0;
    left: 2em;
    right: 0;
    background-color: transparent;
    height: 1px;
    width: 0;
    transition: 0.5s ease;
  }
  app-icon-search {
    position: absolute;
    left: $sidePadding;
    top: 3px;
    bottom: 0;
    margin: auto;
    fill: inherit;
    line-height: 1;
  }
}