<nav class="nav">
  <div class="nav-content">
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" appAxFocus01Fix>Clean to the Core</a>
    <div class="nav-right">
      <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" aria-label="About Clean to the Core" appAxFocus01Fix>About</a>
      <button class="nav-item btn-link" appAxFocus01Fix>Sign in / Sign up</button>
    </div>
  </div>
</nav>