@import '../../../variables';
.nav {
  .nav-content {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 0.54);
    padding: 0 15px;
    .nav-right {
      justify-content: flex-end;
    }
    .nav-item {
      margin: 8px;
      padding: 2px 4px;
      display: inline-block;
      font-family: $title-font;
      color: white;
      &:focus {
        outline: solid 1px white;
      }
    }
  }
}