@import '../../../variables';
:host {
  display: block;
  .nav {
    display: flex;
    justify-content: space-between;
    .nav-right {
      justify-content: flex-end;
    }
    .nav-item {
      padding: 10px;
      display: inline-block;
      font-family: $titleFont;
    }
  }
}