@import '../../../variables';
.nav {
  $textPadding: 10px;
  .nav-content {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    font-size: 19px;
    .nav-right {
      justify-content: flex-end;
    }
    .nav-item {
      padding: $textPadding;
      display: inline-block;
      font-family: $titleFont;
      padding-bottom: 0;
    }
  }
  &:after {
    content: "";
    height: $textPadding;
    display: block;
  }
  &.white-text {
    .nav-content {
      background-color: rgba(0, 0, 0, 0.54);
      .nav-item {
        color: white;
      }
    }
    &:after {
      // background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.01)); // wip
      background-color: rgba(0, 0, 0, 0.54);
    }
  }
}