:host {
  // Default colors (can be overridden on host element without turning off encapsulation)
  color: white;
  fill: white;
  outline-color: white;
  // :host styles
  display: block;
  width: 9em;
  height: 2em;
  position: relative;  
  select {
    color: inherit;
    font-family: inherit;
    display: block;
    font-size: 1em;
    padding: 0 10px;
    border: none;
    box-shadow: none;
    width: 100%;
    height: 100%;  
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    &::-ms-expand {
      display:none;
    }
    .default-select {
      display: none;
    }
    .hide-option {
      display: none;
    }
    &:focus {
      outline: solid 2px;
      outline-color: inherit;
    }
  }
  app-icon-arrow-down {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
    width: 1.6em;
    height: 1.6em;
    fill: inherit;
  }
}