@import '../../../variables';
app-button-clear {
  color: $link-color;
  padding: 0 4px;
}
app-icon-time {
  display: inline-block;
  bottom: -2px;
  position: relative;
  fill: $link-color;
}
.stop {
  color: $visible-red;
}