<footer>
  <div class="social-media">
    <a class="item" href="https://www.instagram.com/cleantothecore/" target="_blank">
      <app-icon-instagram></app-icon-instagram>
    </a>
    <a class="item" href="https://www.facebook.com/Clean-to-the-Core-456459467870666/" target="_blank">
      <app-icon-facebook></app-icon-facebook>
    </a>
    <a class="item" href="https://www.pinterest.com/janesmith0711/" target="_blank">
      <app-icon-pinterest></app-icon-pinterest>
    </a>
  </div>
  <hr>
  <ul class="links">
    <li class="link"><a [routerLink]="['/legal', 'terms']">Terms</a></li>
    <li class="link"><a [routerLink]="['/legal', 'privacy']">Privacy policy</a></li>
  </ul>
</footer>
