@import '../../../variables';
:host {
  $spacing: 15px;
  display: block;
  background-color: white;
  font-size: $input-font-size;
  line-height: 2;
  border-top: 1px solid #c3c3c3;
  overflow: hidden;
  .content {
    // Filter layout
    padding: $spacing 20px;
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin: 0 auto;
    @media(min-width: $desktop-break-point) {
      width: 86%;
    }
    @media (min-width: $mobile-break-point + 1) {
      .toggle {
        display: none;
      }
    }
    .left {
      &:last-of-type {
        margin-right: auto;
      }
    }
    .right {
      &.item {
        margin: 0 12px;
        font-size: 18px;
        padding: 9px;
        &:first-of-type {
          margin-left: auto;
        }
      }
      &:focus {
        outline: solid black 1px;
      }
    }
    .search {
      width: 35%;
      app-input {
        width: 100%;
        overflow: hidden;
      }
      .toggle {
        app-button-clear {
          background-color: purple;
        }
      }
    }
    .item {
      margin: 3px;
      color: black;
      fill: black;
      outline-color: black;
      font-family: $title-font;
      font-size: 0.8em;
    }
    @media (max-width: $mobile-break-point) {
      $mobileFontSize: 20px;
      flex-direction: row;
      flex-wrap: wrap;
      max-height: 260px;
      .left {
        flex: 1 0 100%;
        margin: 5px auto;
        font-size: $mobileFontSize;        
        width: 90%;
        app-button-clear {
          padding: 5px;
        }
      }
      .right.item {
        margin: 20px;
        font-size: $mobileFontSize;
        &:first-of-type {
          margin-left: auto;
        }
        &:last-of-type {
          margin-right: auto;
        }
      }
      .search {
        display: flex;
        margin: 0 auto;
        align-items: center;
        app-input {
          margin-right: auto;
          width: 70%;
        }
      }
    }
  }
}
