@import '../../../variables';
:host {
  display: block;
  background-color: $accentColor;
  font-size: $inputFontSize;
  padding: 10px;
  line-height: 2; 
  color: white;
  fill: white;
  // Filter layout
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  .nav-left {
    justify-content: flex-start;
    display: flex;
    @media(min-width: $desktopBreakPoint) {
      padding-left: 7%;
    }
  }
  .nav-right {
    justify-content: flex-end;
    @media(min-width: $desktopBreakPoint) {
      padding-right: 7%;
    }
  }
  .item {
    margin: 3px;
  }
}
