<div class="content">
  <div class="nav-left">
    <div *ngFor="let option of filterOptions?.nonSearch" class="item-container">
      <app-select *ngIf="option.type === 'select'" (update)="onSelectUpdate(option.name, $event)" [category]="option.name" [options]="option.options" class="item"></app-select>
    </div>
    <app-input *ngIf="filterOptions?.search" (update)="filterValues['search'] = $event; onUpdate()" color="white" special="search" label="Search recipes" class="item"></app-input>
  </div>
  <div class="nav-right">
    <a class="item" href="https://www.instagram.com/cleantothecore/" target="_blank">
      <app-icon-instagram></app-icon-instagram>
    </a>
    <a class="item" href="https://www.facebook.com/Clean-to-the-Core-456459467870666/" target="_blank">
      <app-icon-facebook></app-icon-facebook>
    </a>
    <a class="item" href="https://www.pinterest.com/janesmith0711/" target="_blank">
      <app-icon-pinterest></app-icon-pinterest>
    </a>
  </div>
</div>
