@import '../../../variables';
:host {
  $spacing: 15px;
  display: block;
  background-color: $accentColor;
  font-size: $inputFontSize;
  line-height: 2;
  .content {
    // Filter layout
    padding: $spacing;
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    .nav-left {
      justify-content: center;
      display: flex;
      flex-grow: 100;
      .item {
        width: 60%;
      }
      @media(min-width: $desktopBreakPoint) {
        padding-left: 7%;
      }
    }
    .nav-right {
      justify-content: flex-end;
      @media(min-width: $desktopBreakPoint) {
        padding-right: 7%;
      }
    }
    .item {
      margin: 3px;
      color: $accentTextColor;
      fill: $accentTextColor;
      outline-color: $accentTextColor;
    }
  }
  .drawer {
    .item-container {
      border-top: 2px solid white;
      text-align: center;
      line-height: 1;
      width: 100%;
      .item {
        display: inline-block;
        width: 80%;
        max-width: 800px;
        margin: $spacing;
        height: 3em;
      }
    }
  }
}
