@import '../../../variables';
:host {
    margin: 250px auto;
}
svg {
    animation: spin 1s infinite linear;
    stroke: $primary-color;
    width: 80px;
    height: 80px;
    margin: inherit;
    display: block;
}

@keyframes spin {
	0%  {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}	
}

