$primary-color: rgba(0, 108, 175, 1);
$dark-blue: #1a1a40;
$accent-color: #ff5780;
$accent-text-color: #fff;
$link-color: $primary-color;
$light-gray: #b9b9b9;
$visible-gray: #737373;
$visible-red: #e80000;
$pure-gray: #808080;
$black: #000;
$white: #fff;
// Fonts
$title-font: GeosansLight;
// Forms
$form-color: $primary-color;
$form-focus: #83bffc;
$input-font-size: 20px;
// Break points
$mobile-break-point: 767px;
$desktop-break-point: 1150px;
