$primaryColor: rgba(0, 108, 175, 1);
$accentColor: #FF5780;
$accentTextColor: white;
$linkColor: $primaryColor;
$lightGray: #b9b9b9;
$visibleGray: #737373;
// Fonts
$titleFont: GeosansLight;
// Forms
$formColor: $primaryColor;
$formFocus: #83bffc;
$inputFontSize: 20px;
// Break points
$mobileBreakPoint: 767px;
$desktopBreakPoint: 1150px;
