$primaryColor: rgba(0, 108, 175, 1);
$accentColor: #ff8b94;
$linkColor: $primaryColor;
$lightGray: #b9b9b9;
// Fonts
$titleFont: GeosansLight;
// Forms
$formColor: $primaryColor;
$formFocus: #83bffc;
// Break points
$mobileBreakPoint: 767px;