/**
  * Global Styles - all other components use encapsulation
  * @see https://angular.io/docs/ts/latest/guide/component-styles.html#!#view-encapsulation
  */
@import './variables';
// Fonts
@font-face {
	font-family: $titleFont;
	font-weight: normal;
	src: url('assets/GeosansLight.ttf');
}
// Elements
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
  font-weight: normal;
}
a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ul {
  list-style: none;
  padding-left: 0;
}