@import './variables';
// Fonts
@font-face {
	font-family: $titleFont;
	font-weight: normal;
	src: url('assets/GeosansLight.ttf');
}
// All elements
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
}
a {
  color: $linkColor;
  text-decoration: none;
  font-family: $titleFont;
  &:hover {
    text-decoration: underline;
  }
}
// http://stackoverflow.com/a/12642009/5357459
.btn-link {
  /* Remove all decorations to look like normal text */
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  color: $primaryColor;
  cursor: pointer;
  // text-decoration: underline;
}
/* Remove extra space inside buttons in Firefox */
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
  padding: 0;
}