.header-container {
  height: 400px;
  display: block;
  position: relative;
  .header-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    .header-circles {

    }
    .header-title {
      
    }
    .header-blurb {
      
    }
  }
}