<div class="fixed-content" appWatchHeight (heightChange)="fixedHeight = $event">
  <app-image-cover [src]="mocks.img" class="primary-image"></app-image-cover>
  <header class="header">
    <h1 class="title">Pork Belly Slices AKA Bacon</h1>
    <div class="blurb">Old school bacon, before packaging came along. <a href="#">View Recipe</a></div>
    <app-labels [labels]="mocks.labels"></app-labels>
  </header>
</div>
<div class="home-content" [style.margin-top]="fixedHeight + 'px'">
  <app-sticky-scroll [stickyOffset]="fixedHeight">
    <app-filter></app-filter>
  </app-sticky-scroll>
  <div class="info-bar">
    <div></div>
    <h1>Let's get cookin':</h1>
    <div class="social-media">social media</div>
  </div>
  <div class="recipes">
    <app-recipe-ad *ngFor="let recipeMeta of apiService.recipeList | async; let i = index" [recipeMeta]="recipeMeta" [routerLink]="['/recipe', recipeMeta.slug]" [arrowColor]="getColor(i)"></app-recipe-ad>
  </div>
</div>
