@import '../../variables';
$imageHeight: 50%;
.fixed-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  .primary-image {
    display: block;
    padding-bottom: $imageHeight;
    @media (max-width: $mobileBreakPoint) {
      margin-top: 39px;
    }
  }
  .primary-info {
    $headerMargin: 25px;
    text-align: center;
    overflow: hidden;
    .title {
      font-size: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .blurb {
      font-family: $titleFont;
      font-size: 20px;
      margin-bottom: $headerMargin;
    }
    app-labels {
      max-width: 550px;
      margin: $headerMargin auto;
      margin-top: 0;
      display: block;
      @media(min-width: $desktopBreakPoint) {
        position: absolute;
        right: 5%;
        bottom: 100px;
      }
      @media (max-width: 400px) {
        max-width: 260px;
      }
    }
  }
}

.home-content {
  background: white;
  z-index: 10;
  .info-bar {
    h1 {
      text-align: center;
      font-size: 40px;
    }
  }
  .recipes {
    display: flex;
    flex-wrap: wrap;
    width: 84%;
    margin: 0 auto;
    .app-recipe-ad {
      width: 33.33%;
      padding: 8px 4px;
      a, a:hover {
        color: inherit;
        text-decoration: inherit;
        display: block;
        &:focus {
          outline: none;
          position: relative;
          :after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 2px solid black;
          }
          // app-recipe-ad {
          //   border: 1px solid black;
          // }
        }
      }
    }
    @media (max-width: $mobileBreakPoint) {
      width: 100%;
      .app-recipe-ad {
        width: 100%;
        padding: 8px 0;
      }
    }
    @media (min-width: $mobileBreakPoint + 1) and (max-width: $desktopBreakPoint) {
      .app-recipe-ad {
        width: 50%;
      }
    }
  }
}

:host {
  display: block;
  position: relative;
}

.no-results {
  text-align: center;
  height: 100px;
  margin: 100px auto;
  font-size: 20px;
}