<div class="title">
  <a [routerLink]="['/recipe', timerService.slug]">{{ timerService.title }}</a>
</div>
<div class="controls">
  <app-button-clear class="left" (click)="timerService.resetTimer()"><app-icon-reset></app-icon-reset></app-button-clear>
  <div class="center">
    <app-button-clear (click)="timerService.changeMinute(-1)"><app-icon-minus></app-icon-minus></app-button-clear>
    <div>{{ timerService.readable }}</div>
    <app-button-clear (click)="timerService.changeMinute(1)"><app-icon-plus></app-icon-plus></app-button-clear>
  </div>
  <app-button-clear class="right" (click)="timerService.stopTimer()">stop</app-button-clear>
</div>